## Capítulo 4: Números e Operações Matemáticas

In [2]:
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.13

In [18]:
hex(394)

'0x18a'

In [19]:
bin(286)

'0b100011110'

In [20]:
# Retorna o valor absoluto (ignora o sinal)
abs(-8)

8

In [21]:
# Potência
pow(4,2)

16

## Capítulo 4: Variáveis Operadores em Python

### Declaração Múltipla

In [22]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [23]:
pessoa1

'Bob'

In [24]:
pessoa2

'Maria'

In [25]:
# Fique atento!!! Python é case-sensitive.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).  
> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [26]:
largura = 2
altura = 4

In [27]:
area = largura * altura
print(area)

8

### Strings e Indexação em python

In [4]:
# Atribuindo uma string
s = 'Data Science Academy'

In [5]:
s = 'Data Science Academy'
print(s)

Data Science Academy

In [10]:
s[:-3]

'Data Science Acad'

In [2]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'
letra * 3

'www'

### Funções Built-in de Strings

In [6]:
# Upper Case 
s.upper()

'DATA SCIENCE ACADEMY'

In [8]:
# Lower case
s.lower()

'data science academy'

In [9]:
# Dividir uma string por espaços em branco (padrão)
s.split()

['Data', 'Science', 'Academy']

In [10]:
# Dividir uma string por um elemento específico
s.split('y')

['Data Science Academ', '']

In [11]:
s = 'seja bem vindo ao universo da Linguagem Python!'

In [12]:
s

'seja bem vindo ao universo da Linguagem Python!'

In [ ]:
# primeira letra da palavra em maiusculo
s.capitalize()

'Seja bem vindo ao universo da linguagem python!'

In [14]:
s.count("a")

4

In [15]:
s.isalnum()

False

In [16]:
s.islower()

False

In [17]:
s.isspace()

False

In [18]:
s.endswith('o')

False

In [19]:
s = '1000'

In [20]:
type(s)

str

In [21]:
print("Python" == "R")

False

### Trabalhando com Listas

In [11]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [12]:
type(lista_1)

list

In [14]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

### Atualizando Um Item da Lista

In [19]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [20]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [21]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [23]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [24]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

### Deletando Um Item da Lista

In [25]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [26]:
# Deletando um item específico da lista
del lista_2[3]

In [27]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [28]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [29]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [30]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [31]:
a

1

In [32]:
b = listas[1][2]

In [33]:
b

14

In [34]:
c = listas[0][2] + 10

In [35]:
c

13

### Concatenando Listas

In [37]:
lista_s1 = [34, 32, 56]
lista_s2 = [21, 90, 51]

In [38]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [39]:
lista_total

[34, 32, 56, 21, 90, 51]

## Operador in

In [41]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [43]:
# Verificando se o valor 10 pertence a lista
print(100 in lista_teste_op)

True

In [44]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [45]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [46]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [47]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [48]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [49]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [50]:
# Criando uma lista vazia
a = []

In [51]:
a.append(10)

In [52]:
a

[10]

In [53]:
old_list = [1,2,5,10]

In [54]:
new_list = []

In [55]:
for item in old_list:
    new_list.append(item)

In [56]:
new_list

[1, 2, 5, 10]

In [57]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [58]:
cidades.index('Salvador')

2

In [59]:
cidades.insert(2, 110)

In [60]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [61]:
# Remove um item da lista
cidades.remove(110)

In [62]:
# Reverte a lista
cidades.reverse()

In [63]:
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [64]:
x = [3, 4, 2, 1]

In [65]:
# Ordena a lista
x.sort()

In [ ]:
x

[1, 2, 3, 4]

### Trabalhando com Dicionários

In [3]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [4]:
type(estudantes_dict)

dict

In [5]:
len(estudantes_dict)

4

In [6]:
estudantes_dict.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [7]:
estudantes_dict.values()

dict_values([24, 22, 26, 25])

In [8]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [9]:
estudantes_dict.update(estudantes2)

In [10]:
estudantes_dict

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [ ]:
# Você pode adicionar novas chaves ao seu dicionário
estudantes_dict["Key"] = "Teste"

In [12]:
estudantes_dict

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26,
 'Key': 'Teste'}

In [ ]:
# Pode atribuir uma chave a uma variável
A = estudantes_dict["Key"]

In [16]:
# A variável A é o valor da chave Key:
A

'Teste'

In [17]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [18]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [25]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [21]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [23]:
dict3

{'chave1': 1230,
 'chave2': [18, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

### Criando Dicionários Aninhados

In [26]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [27]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [28]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

In [29]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [30]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [31]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [33]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [34]:
# Verificando o comprimento da tupla
len(tupla1)

9

In [37]:
tupla1.index('Chocolate')

0

In [38]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'str' object does not support item assignment

In [39]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [40]:
lista_t2 = list(t2)

In [41]:
lista_t2

['A', 'B', 'C']

In [42]:
type(lista_t2)

list

In [43]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [44]:
type(t2)

tuple